<div class='ttl'>
<h1>TAVERNOUS</h1>
</div>
<br />

<div class='mainpagenav'>
<ul>
  <li>
    <a href="/foods">MENU</a>
  </li>
  <li>
    <a href="/parties">PARTY</a>
  </li>
  <li>
    <a href="/orders">ORDER</a>
  </li>
</ul>
</div>
