<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tavernous</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <%= erb :"/static/navigation" %>
  </header>
  <main>
  <%= yield %>
  </main>
</body>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<footer>
  <%= erb :"/static/copyright" %>
</footer>
</html>
