<h2>Menu</h2>

<ul>
  <% @foods.each do |food| %>
  <li>
    <a href="/foods/<%= food.id %>">
      <%= food.name %> £<%= food.price %>
    </a>
  </li>
  <% end %>
</ul>

<div class='new-button'>
<ul>
  <li>
    <a href="/foods/new">NEW</a>
  </li>
</ul>
</div>
