<h2>All Parties</h2>
<% current = @parties.where(paid: 'f') %>
<% previous = @parties.where(paid: 't') %>
<ul>
  <p>List of current patrons</p>
    <br>
  <%current.each do |party| %>
  <li><a href="/parties/<%= party.id %>">Party <%= party.id %></a></li>
  <% end %>
</ul>
<ul>
  <p>List of previous Patrons</p>
  <br>
  <% previous.each do |party| %>
  <li><a href="/parties/<%= party.id %>">Party <%= party.id %></a></li>
  <% end %>
</ul>


<a href ="parties/new"> Add a party </a>
