<h2><%= @party.name %></h2>

<a href="/parties/<%= @party.id %>/edit">edit</a>

<form action="/parties/<%= @party.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete party">
</form>
