<h2>Order</h2>

<ul>
  <% @orders.each do |order| %>
  <li>
    <a href="/orders/<%= order.id %>">
      <%= order.party_id %>
    </a>
  </li>
  <% end %>
</ul>

<a href="/orders/new">Add a new order</a>
