<h2><%= @order.party_id %></h2>
<h2><%= @food.name %></h2>

<a href="/orders/<%= @order.id %>/edit">edit</a>

<form action="/orders/<%= @order.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete order">
</form>
